[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=4

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{.nycrc,.babelrc,.stylelintrc,.eslintrc,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.sass]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{.analysis_options,.editorconfig,*.yml,*.yaml}]
indent_style=space
indent_size=2

