<title>{{ site.title }} - {{ page.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style>
  .bg-blue {
    background-color: #04a8ff !important;
  }

  .jumbotron {
    border-radius: 0;
  }

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active {
    /*background-color: #04a8ff;*/
    /*border-color: #04a8ff;*/
  }

  .footer {
    font-size: 26px;
  }

  .footer a {
    color: white;
  }
</style>
